.container {
    height: 656px !important;
}
.sign-box {
    width: 550px;
    height: 620px;
    background-color: rgba(36, 36, 36, 0.7);
    margin-top: 20px;
    border-radius: 10px;
    padding: 0px 20px;
}
.sign-box img {
    margin-top: 20px;
}
.sign-box .digital {
    margin: 0;
}
form {
    position: relative;
    top: 190px;
}
.sign-box form p
{
	margin: 0;
	padding: 0;
    font-weight: 600;
    font-size: 14pt;
    color: #fff;
    text-align: left;
    margin-left: 27px;
}
.sign-box input
{
	width: 90%;
	margin-bottom: 20px;
}
.sign-box input[type="text"],
.sign-box input[type="password"]
{
	border: none;
	border-bottom: 2px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.sign-box input[type="submit"] {
    position: relative;
    top: 20px;
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
    font-size: 22px;
    font-weight: 600px;
	background: rgb(255, 199, 17);
	cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 16px rgb(59, 59, 59);
}
.punya {
    position: relative;
    top: 185px;
    color: white;
    font-weight: 600;
    font-size: 15pt;
}
.punya button {
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    font-size: 13pt;
    background-color: #6D16A8;
    box-shadow: 0px 0px 16px rgb(59, 59, 59);
    cursor: pointer;
}
.kuning {
    background: rgb(255, 199, 17) !important;
}
