body {
    background-color: #e8e8e8;
    overflow-x: hidden;
}
.ini {
    background-color: #0077ff;
    box-shadow: 0 8px 6px -6px grey;
}
.nav-item {
    margin-right: 20px;
}
.navbar-brand {
    margin-left: 4%;
    font-size: 21pt;
    font-weight: 500;
}
.nav-item a {
    color: white;
    font-size: 15pt;
    font-weight: 500;
}
.judul {
    margin-top: 80px;
    width: 100%;
    height: auto;
}
.agenda {
    width: 100%;
    height: auto;
    padding: 20px 40px; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.jadwal {
    width: 880px;
    height: 800px;
    background-color: white;
    border-radius: 8px;
    padding: 15px 15px;
}
.jadwal h4 {
    font-weight: 500;
}
.jdwl {
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 10px 10px;
}
.decs {
    display: inline-block;
    position: relative;
    top: 30px;
}
.decs h4 {
    font-weight: 400;
}
.notif {
    width: 350px;
    height: 800px;
    background-color: white;
    border-radius: 8px;
    padding: 15px 15px;
}
.marge {
    position: relative;
    top: 60%;
    left: 20%;
}
.cd {
    position: relative;
    bottom: 20px;
}
footer {
    height: auto;
	background-color: #272727;
	display: flex;
  	flex-flow: row wrap;
  	padding-top: 50px;
    justify-content: center;
    margin-top: 60px;
}
.konten1{
	float: left;
	width: 300px;
	height: 350px;
}
.konten1 h3{
	font-weight: 700;
	margin-left: 20px;
	color: #fff;
}
.line{
	background-color: #2196f3;
	height: 74px;
	width: 5px;
	margin-right: 5px;
	float: left;
}
.konten1 p{
	color: #fff;
	margin-top: 20px;
}
.konten2{
	float: left;
	width: 300px;
	height: 350px;
	color: #fff;
}
.konten2 li{
	list-style: none;
	text-decoration: none;
}
.konten2 a{
	text-decoration: none;
	list-style: none;
	color: #fff;
	transition: 0.2s;
}
.konten2 a:hover {
	text-decoration: none;
	list-style: none;
	color: #2196f3;
}
.line2{
	float: left;
	width: 90%;
	height: 4px;
	background-color: #333333;
	margin-bottom: 10px;
}
.l-line{
	width: 70px;
	height: 4px;
	float: left;
	background-color: #2196f3;
}
.konten3 li{
	list-style: none;
	text-decoration: none;
}
.konten3 li a i{
	color: #fff;
	font-size: 25px;
	margin-top: 20px;
	float: left;
	transition: 0.2s;
	list-style: none;
	background-color: #333333;
	text-decoration: none;
}
.konten3{
	float: left;
	width: 300px;
	height: 350px;
	color: #fff;
	font-family: arial;
}
.konten3 .t:hover{
	background: #fff;
	color: #55acee;
}
.konten3 .f:hover{
	background: #fff;
	color: #3b5999;
}
.konten3 .i:hover{
	background: #fff;
	color: #4870FF;
}
.konten3 .y:hover{
	background: #fff;
	color: red;
}
.konten4{
	float: left;
	width: 300px;
	height: 350px;
	color: #fff;
}
.konten4 p{
	float: left;
}
.footer-bottom{
	width: 100%;
	height: auto;
	background-color: #171717;
}
.footer-bottom p{
	text-align: center;
	color: #dfdfdf;
	line-height: 60px;
	font-size: 17pt;
	font-weight: 300;
	margin: 0;
}
@media screen and (max-width: 1312px) {
    .jadwal {
        width: 750px; 
    }
}
@media screen and (max-width: 1280px) {
    .jarak {
        position: relative;
        top: -35px;
    }
    .edit {
        margin-left: 10px;
    }
    .marge {
        left: 40%;
    }
}
@media screen and (max-width: 1211px) {
    .jadwal {
        width: 680px; 
    }
}
@media screen and (max-width: 1142px) {
    .jadwal {
        width: 100%; 
    }
    .notif {
        margin-top: 40px;
        width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .jarak {
        position: relative;
        top: 0px;
    }
    .marge {
        left: 20%;
    }
    .agenda {
        padding: 0px 10px;
    }
}
@media screen and (max-width: 992px) {
    .putih {
        background-color: white !important;
        border-radius: 10px !important;
    } 
    ul {
        width: 100% !important;
        padding-left: 5% !important;
    }
    .nav-item a {
        text-align: center !important;
        margin-top: 15px;
        margin-bottom: 30px;
        color: #0077ff !important;
    }
}
@media screen and (max-width: 960px) {
    .marge {
        left: 21%;
    }
}
@media screen and (max-width: 800px) {
    .edit {
        position: relative;
        top: -38px;
    }
    .marge {
        left: 37%;
    }
}
@media screen and (max-width: 796px) {
    .decs h4 {
        font-size: 2.5vw; 
    }
    .decs h5 {
        font-size: 2vw;
    }
    .jdwl img {
        margin-top: 20px;
        width: 150px;
    }
}
@media screen and (max-width: 720px) {
    .hapus {
        position: relative;       
        top: -38px;
    }
    .marge {
        left: 42%;
    }
}
@media screen and (max-width: 640px) {
    .marge {
        left: 63%;
    }
}
@media screen and (max-width: 600px) {
    .marge {
        top: -15%;
        left: 0%;
    }
}
@media screen and (max-width: 593px) {
    .marge {
        margin-top: 350px;
    }
}
@media screen and (max-width: 579px) {
    .jdwl img {
        margin-top: 0;
    }
    .decs {
        top: 0;
    }
    .decs h4 {
        font-size: 14pt; 
    }
    .decs h5 {
        font-size: 12pt;
    }
}
@media screen and (max-width: 480px) {
    .agenda {
        padding: 8px 8px;
    }
    .edit {
        display: block !important;
        width: 100%;
        top: 1%;
    }
    .hapus {
        display: block !important;
        width: 100%;
        top: 0.5%;
    }
    .jdwl {
        height: 390px;;
    }
    .cd {
        position: relative;
        top: 30px;
    }
}
@media screen and (max-width: 360px) {
    .jdwl {
        height: 400px;
    }
    .navbar-brand {
        position: relative;
        left: -5px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 15pt;
    }
    .judul h1 {
        font-size: 23pt;
    }
    .marge {
        top: -15%;
        left: 0%;
    }
}
@media screen and (max-width: 320px) {
    .marge {
        top: -20%;
    }
}