* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#features {
    width: 100%;
    min-height: 480px;
    background-color: #e9e9e9;
}
.judul h2 {
    margin: 0;
    text-align: center;
    font-size: 28pt;
    font-weight: 600;
    color: #2a2a2a;
    position: relative;
    top: 5px;
}
.container-features {
    width: 97%;
    height: auto;
    margin: 50px 20px 0px 23px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.fitur {
    background-color: white;
    box-shadow: 0px 0px 13px #707070;
    width: 280px;
    height: 370px;;
    margin-bottom: 70px;
    border-radius: 10px;
}
.fitur img {
    position: relative;
    top: 30px;
}
.fitur h2 {
    font-weight: 500;
    font-size: 21pt;
    position: relative;
    top: 25px;
}
.fitur p {
    position: relative;
    top: 25px;  
    color: #3a3a3a;
}
@media screen and (max-width: 1230px) {
    .fitur {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 900px) {
    .fitur {
        margin-left: -2%;
    }
}
@media screen and (max-width: 450px) {
    .fitur {
        margin-left: 0px;
    }
}
@media screen and (max-width: 320px) {
    .fitur {
        margin-left: -4%;
    }
}