body {
    background-color: #e8e8e8;
}
.ini {
    z-index: 99999;
    background-color: #0077ff;
    box-shadow: 0 8px 6px -6px grey;
}
.nav-item {
    margin-right: 20px;
}
.navbar-brand {
    margin-left: 4%;
    font-size: 21pt;
    font-weight: 500;
}
.nav-item a {
    color: white;
    font-size: 15pt;
    font-weight: 500;
}
input[type="text"] {
    border: none;
	border-bottom: 2px solid #2a2a2a;
	background: transparent;
	outline: none;
	height: 40px;
	color: #2a2a2a;
    font-size: 19px;
    width: 88%;
}
.margen {
    margin-top: 85px;
}
.pembungkus {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.rapots {
    width: 300px;
    height: 100px;
    background-color: white;
    margin: 20px 10px;
    border-radius: 5px;
    box-shadow: 5px 12px 20px rgba(36,37,38,0.13);
    padding-top: 5px;
    padding-left: 8px;
}
.rapots h3 {
    display: inline-block;
    font-size: 15pt;
    margin: 0;
}
.rapots p {
    display: inline-block;
    position: relative;
    left: 95px;
    top: -33px;
    color: grey;
}
.rapots h1 {
    position: relative;
    top: -110px;
    left: 245px;
}
.marg {
    display: inline-block;
    position: relative !important;
    left: 80%;
}
.pagination {
    float: right;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: 500;
    font-size: 13pt;
  }
  
  .pagination a.active {
    background-color: #0077ff;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }
footer {
    height: auto;
	background-color: #272727;
	display: flex;
  	flex-flow: row wrap;
  	padding-top: 50px;
    justify-content: center;
    margin-top: 110px;
}
.konten1{
	float: left;
	width: 300px;
	height: 350px;
}
.konten1 h3{
	font-weight: 700;
	margin-left: 20px;
	color: #fff;
}
.line{
	background-color: #2196f3;
	height: 74px;
	width: 5px;
	margin-right: 5px;
	float: left;
}
.konten1 p{
	color: #fff;
	margin-top: 20px;
}
.konten2{
	float: left;
	width: 300px;
	height: 350px;
	color: #fff;
}
.konten2 li{
	list-style: none;
	text-decoration: none;
}
.konten2 a{
	text-decoration: none;
	list-style: none;
	color: #fff;
	transition: 0.2s;
}
.konten2 a:hover {
	text-decoration: none;
	list-style: none;
	color: #2196f3;
}
.line2{
	float: left;
	width: 90%;
	height: 4px;
	background-color: #333333;
	margin-bottom: 10px;
}
.l-line{
	width: 70px;
	height: 4px;
	float: left;
	background-color: #2196f3;
}
.konten3 li{
	list-style: none;
	text-decoration: none;
}
.konten3 li a i{
	color: #fff;
	font-size: 25px;
	margin-top: 20px;
	float: left;
	transition: 0.2s;
	list-style: none;
	background-color: #333333;
	text-decoration: none;
}
.konten3{
	float: left;
	width: 300px;
	height: 350px;
	color: #fff;
	font-family: arial;
}
.konten3 .t:hover{
	background: #fff;
	color: #55acee;
}
.konten3 .f:hover{
	background: #fff;
	color: #3b5999;
}
.konten3 .i:hover{
	background: #fff;
	color: #4870FF;
}
.konten3 .y:hover{
	background: #fff;
	color: red;
}
.konten4{
	float: left;
	width: 300px;
	height: 350px;
	color: #fff;
}
.konten4 p{
	float: left;
}
.footer-bottom{
	width: 100%;
	height: auto;
	background-color: #171717;
}
.footer-bottom p{
	text-align: center;
	color: #dfdfdf;
	line-height: 60px;
	font-size: 17pt;
	font-weight: 300;
	margin: 0;
}

@media screen and (max-width: 1006px) {
    input[type="text"] {
        width: 100%;
    }
    .btn {
        margin-top: 10px;
        display: block;
        width: 100%;
    }
}
@media screen and (max-width: 1006px) {
    .rapots {
        width: 100%;
    }
}
@media screen and (max-width: 555px) {
    .rapots p {
        left: -155px;
        top: 30px;
    }
}
@media screen and (max-width: 421px) {
    .rapots p {
        left: 150px;
        top: -30px;
    }
}
@media screen and (max-width: 324px) {
    .rapots p {
        left: 120px;
        top: -30px;
    }
}
@media screen and (max-width: 992px) {
    .putih {
        background-color: white !important;
        border-radius: 10px !important;
    } 
    ul {
        width: 100% !important;
        padding-left: 5% !important;
    }
    .nav-item a {
        text-align: center !important;
        margin-top: 15px;
        margin-bottom: 30px;
        color: #0077ff !important;
    }
}
@media screen and (max-width: 360px) {
    .navbar-brand {
        position: relative;
        left: -5px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 15pt;
    }
    .margen center h1 {
        font-size: 23pt;
    }
    .margen center h1 {
        font-size: 20pt;
    }
    .rapots {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 320px) {
    .pagination a {
        padding: 10px 12px;
    }
}










