body {
    background-color: #e8e8e8;
}
.ini {
    z-index: 99999;
    background-color: #0077ff;
    box-shadow: 0 8px 6px -6px grey;
}
.nav-item {
    margin-right: 20px;
}
.navbar-brand {
    margin-left: 4%;
    font-size: 21pt;
    font-weight: 500;
}
.nav-item a {
    color: white;
    font-size: 15pt;
    font-weight: 500;
}
.margen {
    margin-top: 85px;
}
.margen h1 {
    font-weight: 400;
}
.plastik {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.merah {
    width: 510px;
    height: 250px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 10px;
    margin-right: 30px;
    padding: 10px;
}
.merah p  {
    color: white;
    font-size: 20pt;
    font-weight: 300;
}
.merah h1 {
    position: relative;
    bottom: 10px;
    font-size: 80pt;
    color: white;
}
.hijau {
    width: 510px;
    height: 250px;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    border-radius: 10px;
    padding: 10px;
}
.hijau h3 {
    color: white;
    font-weight: 300;
}
.hijau .riwayat p {
    color: white;
    font-size: 14pt;
    font-weight: 500;
}
.rapor {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.rapo {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 12px 20px rgba(36,37,38,0.13);
}
.rapo p {
    font-size: 14pt;
}
.tambah {
    position: fixed;
    left: 83%;
    top: 88%;
    border: none;
    height: 50px;
    width: 190px;
    border-radius: 8px;
    font-size: 13pt;
    box-shadow: 1px 1px 3px black;
    background-color: #0077ff;
    color: white;
    z-index: 9999;
}
footer {
    height: auto;
	background-color: #272727;
	display: flex;
  	flex-flow: row wrap;
  	padding-top: 50px;
    justify-content: center;
}
.konten1{
	float: left;
	width: 300px;
	height: 350px;
}
.konten1 h3{
	font-weight: 700;
	margin-left: 20px;
	color: #fff;
}
.line{
	background-color: #2196f3;
	height: 74px;
	width: 5px;
	margin-right: 5px;
	float: left;
}
.konten1 p{
	color: #fff;
	margin-top: 20px;
}
.konten2{
	float: left;
	width: 300px;
	height: 350px;
	color: #fff;
}
.konten2 li{
	list-style: none;
	text-decoration: none;
}
.konten2 a{
	text-decoration: none;
	list-style: none;
	color: #fff;
	transition: 0.2s;
}
.konten2 a:hover {
	text-decoration: none;
	list-style: none;
	color: #2196f3;
}
.line2{
	float: left;
	width: 90%;
	height: 4px;
	background-color: #333333;
	margin-bottom: 10px;
}
.l-line{
	width: 70px;
	height: 4px;
	float: left;
	background-color: #2196f3;
}
.konten3 li{
	list-style: none;
	text-decoration: none;
}
.konten3 li a i{
	color: #fff;
	font-size: 25px;
	margin-top: 20px;
	float: left;
	transition: 0.2s;
	list-style: none;
	background-color: #333333;
	text-decoration: none;
}
.konten3{
	float: left;
	width: 300px;
	height: 350px;
	color: #fff;
	font-family: arial;
}
.konten3 .t:hover{
	background: #fff;
	color: #55acee;
}
.konten3 .f:hover{
	background: #fff;
	color: #3b5999;
}
.konten3 .i:hover{
	background: #fff;
	color: #4870FF;
}
.konten3 .y:hover{
	background: #fff;
	color: red;
}
.konten4{
	float: left;
	width: 300px;
	height: 350px;
	color: #fff;
}
.konten4 p{
	float: left;
}
.footer-bottom{
	width: 100%;
	height: auto;
	background-color: #171717;
}
.footer-bottom p{
	text-align: center;
	color: #dfdfdf;
	line-height: 60px;
	font-size: 17pt;
	font-weight: 300;
	margin: 0;
}
@media screen and (max-width: 1107px) {
    .merah {
        width: 400px;
    }
    .hijau {
        width: 400px;
    }
    .hijau .riwayat p {
        font-size: 12pt;
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 1109px) {
    footer {
        position: relative;
        top: 420px;
    }
    .rapo:nth-child(3) {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1095px) {
    .rapo:nth-child(2) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .tambah {
        left: 80%;
    }
}

@media screen and (max-width: 992px) {
    .putih {
        background-color: white !important;
        border-radius: 10px !important;
    } 
    ul {
        width: 100% !important;
        padding-left: 5% !important;
    }
    .nav-item a {
        text-align: center !important;
        margin-top: 15px;
        margin-bottom: 30px;
        color: #0077ff !important;
    }
}

@media screen and (max-width: 904px) {
    .merah {
        width: 300px;
    }
    .hijau {
        width: 300px;
    }
    .merah p, .merah h1 {
        margin-bottom: 0px;
    }
    .merah p {
        font-size: 17pt;
    }
}

@media screen and (max-width: 800px) {
    .tambah {
        left: 72%;
    }
}

@media screen and (max-width: 784px) {
    .rapo:nth-child(1) {
        margin-bottom: 60px;
    }
    footer {
        position: relative;
        top: 900px;
    }
    .rapo {
        width: 100%;
    }
    .rapo:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .margen h1 {
        font-size: 25pt;
    }
}

@media screen and (max-width: 705px) {
    .merah {
        margin-right: 0;
    }
    .merah {
        width: 100%;
    }
    .hijau {
        margin-top: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .tambah {
        left: 65%;
    }
}
@media screen and (max-width: 480px) {
    .tambah {
        left: 4%;
        top: 90%;
        width: 92%;
    }
    .margen h1 {
        font-size: 20pt;
    }
}

@media screen and (max-width: 360px) {
    .navbar-brand {
        position: relative;
        left: -5px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 15pt;
    }
    .margen center h1 {
        font-size: 16pt;
    }
}

@media screen and (max-width: 320px) {
    .tambah {
        top: 88%;
    }
    .navbar-brand img {
        display: none !important;
    }
    .merah p {
        font-size: 16pt;
    }
    .rapo img {
        width: 200px;
    }
    .rapo h3 {
        font-size: 18pt;
    }
}