* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(rgba(0,119,255,0.75), rgba(0,177,255,0.75)), url('../../../assets/img/header.jpg');
    background-size: cover;
    overflow-x: hidden;
}
.container {
    width: 100%;
    height: 950px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.login-box {
    width: 550px;
    height: 900px;
    background-color: rgba(36, 36, 36, 0.7);
    margin-top: 20px;
    border-radius: 10px;
    padding: 0px 20px;
    align-content: center;
}
.judul {
    width: 320px;
    height: 50px;
    background-color: #43D10F;
    position: relative;
    border-radius: 5px;
    top: 8px;
}
.judul h2 {
    position: relative;
    top: 9px;
    font-size: 20pt;
    color: white;
}
.login-box img {
    position: relative;
    top: 30px;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
  .btn {
    border: none;
    color: white;
    background-color: #24D11B;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12pt;
    font-weight: 600;
    font-family: Segoe UI;
    box-shadow: 0px 0px 16px rgb(59, 59, 59);
    margin-bottom: 40px;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0px;
    opacity: 0;
  }
.login-box form {
    position: relative;
    top: 40px;
}
.login-box form p
{
	margin: 0;
	padding: 0;
    font-weight: 600;
    font-size: 14pt;
    color: #fff;
    text-align: left;
    margin-left: 27px;
}
.login-box .buat {
    position: relative;
    top: 35px;
    font-size: 14.5pt;
    color: white;
    font-weight: 500;
}
.buat button {
    width: 100px;
    height: 30px;
    background-color: #F5C023;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 0px 16px rgb(59, 59, 59);
}
.login-box input
{
	width: 90%;
	margin-bottom: 20px;
}
.login-box input[type="text"],
.login-box input[type="password"]
{
	border: none;
	border-bottom: 2px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.login-box input[type="submit"] {
    position: relative;
    top: 20px;
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
    font-size: 22px;
    font-weight: 600px;
	background: #24D11B;
	cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 16px rgb(59, 59, 59);
}
.logo {
    position: relative;
    top: 50px;
}
.logo p {
    position: relative;
    top: 20px;
    display: inline-block;
    color: white;
    font-size: 15pt;
    font-weight: 500;
}
.merah {
    background-color: rgb(217, 0, 0) !important;
}
.hijau {
    background: #24D11B !important;
}
